/*Daphne Box*/
/*10455701*/

h{
	font: sans-serif;
	font-size: 22px;
}

p1{
	font: sans-serif;
	font-size: 12px;
}

/*Tabs are designed according to: https://www.w3schools.com/howto/howto_js_tabs.asp*/
/*Style tab buttons*/
.tab button{
	background-color: inhirit;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
}

/*Hide tab content*/
.tabContent{
	display: none;
}

.xAxis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
